@import '../colors'

.video-wrapper
    max-width: 600px

.action-button-group
    .action-btn
        background-color: $pink
        color: $white


        &:hover
            color: $white
            background-color: darken($pink, 10%)

    .action-btn-reverse
        background-color: $white
        color: $pink

        &:hover
            color: $white
            background-color: $pink

    .btn
        .btn-text
            font-weight: bold
