@import '../global'

.shortcut
    border-bottom: 1px solid $gray-400
    padding: 14px 20px

    .keys
        .plus
            color: $gray-600
        .key
            border-radius: 4px
            background-color: $gray-100
            padding: 4px 6px
            margin: 4px

    .clue
        color: $gray-600
